# NetBeans build output
/build/
/dist/
/target/

# NetBeans local settings
/nbproject/private/

# Application-generated local data
/monitored-files.txt

# Compiled Java files
*.class


/modified.txt
/unchanged.txt
/deleted.txt
/baseline-text.txt